body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #6F696F;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: Michroma;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
  display: flex;
  gap: 0.5rem;
}

.thirdFourth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottomRows {
  display: flex;
}

.screen {
  width: 16rem;
  height: 3rem;
  font-family: "Sometype Mono";
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  text-align: right;
  color: rgba(0, 0, 0, 0.577);
  background-color: #E8DABF;
  border-radius: 0.3rem;
}

.clear {
  width: 6rem;
  text-align: right;
  color: rgba(0, 0, 0, 0.62);
  background-color: #B2F3AD;
  font-family: Michroma;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.zero {
  width: 6.5rem;
  text-align: left;
}

.equals {
  margin-left: 0.2rem;
  height: 5.6rem;
  color: rgba(0, 0, 0, 0.62);
  background-color: #F3ADAD;
  border-radius: 0.4rem;
}

.numBtn,
.operation,
.zero {
  background-color: #f3d4ad75;
  color: rgba(0, 0, 0, 0.62);
}

.numBtn,
.operation,
.zero,
.equals,
.clear {
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
  transition: 250ms;
}

.numBtn:hover,
.operation:hover,
.zero:hover,
.equals:hover,
.clear:hover {
  background-color: rgb(245, 255, 211);
  transform: translateY(4%);
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 12px 12px hsl(117deg 0% 0% / 0.33)
  ;
}